.main-contents
  .main-contents__post
    .main-contents__post--name
      = message.user.name
    .main-contents__post--date
      = message.created_at.strftime("%Y/%m/%d %H:#M")
  .main-contents__comment
    - if message.content.present?
      %p.main-contents__comment--sentence
        = message.content
    = image_tag message.image.url, class: 'main-contents__comment--image' if message.image.present?